<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "LLM Meta Client" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag :app %>
  <%= javascript_importmap_tags %>
</head>

<body>
<%= render "layouts/header" %>

<div class="body">
  <% unless controller_name == 'chats' %>
    <div class="sidebar">
      <%= render "layouts/sidebar", locals: { history: @history, active_uuid: @active_uuid } %>
    </div>
  <% end %>
  <div class="content <%= 'content-full' if controller_name == 'chats' %>">
    <% if alert %>
      <div class="flash alert"><%= alert %></div>
    <% end %>
    <% if notice %>
      <div class="flash notice"><%= notice %></div>
    <% end %>
    <% if flash[:info] %>
      <div class="flash info"><%= flash[:info] %></div>
    <% end %>

    <%= yield %>
  </div>
</div>
</body>
</html>
